.hello {
  color: red;
  background: url('./icon.png');
  font-family: 'MyFont';
}

@font-face {
  font-family: 'MyFont';
  src: url('./Shonar.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}
